/* GENERAL STYLES
-------------------------------------------------*/
body {
  background: #fff; }

.set-font {
  font-family: 'Roboto Condensed'; }

caption {
  caption-side: top;
  color: #b01700;
  font-size: 1.125rem; }

.list-group {
  padding-bottom: 1rem; }

.view-frontpage {
  display: none; }

.remove-padding ul {
  padding-left: 0; }

.views-field-field-year {
  white-space: nowrap; }

.views-field-field-start {
  white-space: nowrap; }

#main {
  padding-top: 2rem; }

/* COLORS 
--------------------------------------------------*/
a {
  color: #b01700; }

.bg-inverse {
  background: #292929 !important; }

.site-footer {
  background: #292929 !important; }

.site-footer a:hover.footer-email, a:focus.footer-email {
  color: #fff; }

.menu--main li a {
  color: #b01700; }

.menu--account li a {
  color: #b01700; }

.site-name-slogan a {
  text-decoration: none; }

.card-group img {
  margin: 0;
  width: 100%;
  height: auto; }

.card-group .field--type-image {
  margin: 0; }

.slick {
  width: 100%; }

.slick > div {
  margin: 0 0.9375rem; }

/* Typography
--------------------------------------------------*/
h1 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.75rem;
  margin-top: 1rem; }

h2 {
  font-size: 2rem;
  margin-top: 1rem; }

h4 {
  font-size: 1.5rem;
  margin-top: 1rem; }

p {
  font-size: 1rem;
  display: block; }

.important-message {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  border-left-color: #C9243D;
  border-left-width: 5px;
  background-color: #fefafb;
  font-size: 1rem; }

.warning-message {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  border-left-color: #ffc107;
  border-left-width: 5px;
  background-color: #fff;
  font-size: 1rem; }

.info-message {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  border-left-color: #17a2b8;
  border-left-width: 5px;
  background-color: #fff;
  font-size: 1rem; }

li {
  font-size: 1rem; }

td {
  font-size: 1rem; }

th {
  font-size: 1rem; }

.caption {
  font-size: 1.2rem;
  color: #b01700;
  padding-top: 1rem; }

#main a:not(.btn) {
  font-weight: bold;
  color: #b01700; }

/* EDIT BAR
-------------------------------------------------*/
@media (max-width: 47.99875rem) {
  .navbar-brand {
    max-width: 75%; } }

/* Footer
--------------------------------------------------*/
.footer-btn {
  white-space: normal;
  word-wrap: break-word;
  font-family: "Roboto"; }

footer {
  font-size: 1.5rem;
  line-height: 120%;
  clear: both;
  width: 100%;
  border-top: 10px solid #b01700;
  color: #fff;
  border-bottom: 20px solid #292929; }

.footer-address {
  padding-left: 1.25em;
  color: #939393;
  border-left: 2px solid #494949;
  font-size: 0.9rem;
  line-height: 1.1rem; }

.faculty-footer {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em; }

.site-footer a {
  color: #fff !important;
  font-weight: normal !important; }

.footer-q {
  text-align: center;
  font-size: 1rem;
  font-style: oblique; }

.footer-attr {
  text-align: center;
  font-size: 0.9rem;
  font-style: oblique;
  color: #999999; }

@media (max-width: 35.99875rem) {
  .footer-address {
    border-left: none;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem; }
  .footer-links {
    padding-left: 0rem; } }

@media (max-width: 47.99875rem) {
  .footer-address {
    padding-left: 0rem;
    text-align: center; } }

.site-footer {
  background: #292929 !important;
  padding-bottom: 0rem; }

#block-umd-bootstrap-sass-facultyfooter {
  width: 100% !important; }

#block-ampfooterlogout {
  width: 100% !important; }

.footer-link {
  color: #fff !important;
  font-size: 1rem;
  font-weight: normal !important; }
  .footer-link:hover {
    color: #fff !important;
    text-decoration: underline;
    font-weight: normal !important; }

.footer-logo-addr {
  margin-right: auto; }

.footer-links {
  white-space: nowrap; }

/* Superfish
--------------------------------------------------*/
li.menuparent li, li.menuparent ul {
  background: #fff; }

ul.menuparent ul, ul.menuparent ul {
  background: #fff; }

ul.sf-menu a, ul.sf-menu span.nolink {
  padding: 0.4em .7em;
  color: #2e2e2e;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 1.4; }

ul.sf-menu a:hover {
  text-decoration: none;
  background: #eee; }

li.sf-depth-2 a:focus, li.sf-depth-2 a:active, li.sf-depth-2 a:hover {
  background: #eee;
  text-decoration: none; }

ul.sf-menu .sf-with-ul {
  padding-right: 2.3em; }

ul.sf-menu .sf-sub-indicator::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  left: 0px;
  line-height: 1;
  position: absolute;
  text-indent: 0px;
  top: 0px; }

#block-main .sf-accordion-toggle, #block-umd-bootstrap-sass-facultyactivity .sf-accordion-toggle {
  display: none; }

#superfish-main-accordion, #superfish-faculty-activity-accordion {
  left: auto !important;
  top: auto !important;
  display: block;
  position: relative; }

#superfish-main-accordion .sf-depth-2{
    padding-left: 0.7rem;
}

.sf-hidden {
  height: auto !important;
  overflow: inherit !important;
  width: 100% !important;
  display: block !important; }

ul.sf-menu.sf-accordion {
  display: block !important;
  position: relative !important;
  width: 100% !important; }

.is-active {
  color: #2e2e2e !important;
  font-weight: 400 !important; }

li.active-trail .menuparent {
  color: #2e2e2e !important;
  font-weight: 400 !important; }

li.sf-depth-2 a:focus,
li.sf-depth-2 a:active,
li.sf-depth-2 a:hover {
  background: #eee;
  text-decoration: none; }

/* Making footer sticky to bottom*/

#main {
  min-height: 75vh;
}

ul.sf-menu .sf-sub-indicator {
  top: 50%;
}

a p {
  font-weight:normal;
}

/* Accessibility Changes */

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(136, 181, 247, 1);
}

ul.sf-menu .sf-sub-indicator{
  height: 16px;
  width: 16px;
}

/* Reducing Admin toolar size */

.toolbar-icon {
    padding-left: 2rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    font-size: 0.8rem;
}

a.toolbar-icon::before {
width: 15px !important;
}

/*
Operation Links
*/
.js td .dropbutton-multiple {
  padding-right: 0.5em; }

/*
Card Button
*/
.card-button a {
  color: #292929; }

.card-button:hover {
  background-color: #b01700;
  color: #fff; }

.card-button a:hover {
  color: #fff; }




